/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Open-Sans', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

a {
    text-decoration: none;
}

.banner {
    text-align: center;
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: center; 
    color: white;
    font-size: 30px;
    height: 250px;
    padding-top: 50px;
  }

  /* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1b1b1b;
  color: white;
  font-size: 30px;
}

body {
	line-height: 1;
    text-align: justify;
    font-family: 'Open-Sans', sans-serif;
    background-color: #f7f7f7;
    font-size: 12px;
    min-height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CODI PROPI*/

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
  }

a{
    color: white;
}
    
*{box-sizing: border-box;
}

h1{
    color:white;
    padding-left: 25px;
    font-size: 12px;
    font-family: 'Open-Sans', sans-serif;
    background: #990000;
}
h3{
    color:lightgray;
    background-color: #3f3d40;
    font-family: "Open-Sans", sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 15px;

}
h2{
    color:lightgray;
    background-color: #3f3d40;
    font-family: "Open-Sans", sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}

h4{
    color:lightgray;
    background-color: #3f3d40;
    font-family: "Oswald", "Open-Sans", sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    font-size: 1.5em;
}

/*TITULS ENTRE SECCIONS (Welcome to uCraft, etc)*/
h5{
    color: gray;
    font-size: 18px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    text-align: center;
}

.caixa1{
    background-color: white;
    color:black;
    line-height: 1.7;
    width: 20%;
    height: 530px;
    padding: 0px;
    display: block;
    overflow: auto;
    float: left;
    position: relative;
    margin: 20px;
    margin-left: 9.5%;
    font-family: 'Open-Sans', sans-serif;
    font-size: 14px;
}
.caixa1,ul,li{
    font-size: 14px;
    font-style: normal;
    list-style-type: disc;
    list-style-position: inside;
}
.caixa2{
    background-color:black;
    background-size: cover;
    color:white;
    line-height: 1,5;
    width: 47%;
    height: 230px;
    padding: 20px;
    display: block;
    overflow: auto;
    float: left;
    position: relative;
    margin: 20px;
}
.caixastore{
    background-color: white;
    color:black;
    line-height: 1.25;
    width: 15%;
    height: 350px;
    padding-top: 10px;
    display: block;
    overflow: auto;
    float: left;
    position: relative;
    margin: auto;
    margin-bottom: 30px;
    margin-left: 8%;
    font-family: 'Open-Sans', sans-serif;
    font-size: 14px;
}

.about{
    background-color: transparent;
    color: black;
    line-height: normal;
    width: 80%;
    display: inline;
    overflow: auto;
    float: left;
    position: relative;
    padding-left: 18%;
    padding-bottom: 50px;
    font-family: 'Open-Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;

}

.videobox{
    background-color: transparent;
    color: black;
    line-height: normal;
    height: auto;
    display: block;
    overflow: auto;
    float: left;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 25%;
    font-family: 'Open-Sans', sans-serif;

}

/*NAV BAR TOP*/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #d3b335;
    color: black;
}

/*TEXT DELS BLOCS BLANCS PRINCIPALS*/
p.padding {
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Open-Sans', sans-serif;
    font-size: 14px;
}

/* IMATGE ADAPTADA AL TAMANY DE PANTALLA*/
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
  
.topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


.mapa {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 30px;
    margin-top: -30px;
    background-color: #333;
    color: white;
    padding-top: 10px;
}

.button {
    background-color: white; /* Green */
    border: solid 1px black;
    color: black;
    padding: 10px 20px; 
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
/* Center website */
.main {
    max-width: 1280px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .content {
      padding-left: 30px;
      padding-right: 30px;
    }
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .content {
      padding-left: 50px;
      padding-right: 50px;
    }
    .column {
      width: 100%;
    }
  }

.btn-img{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: white;
  }
  
.btn-img .img-wrap {
    margin: 0px;
  }
  
.btn-img img {
    display: block;
  }
  
.btn-img:hover .img-wrap {
    background-color: black;
  }
  
.btn-img:hover img {
    opacity: 0.8;
  }

.title{
    color: #333;
    font-weight: bolder;
    padding: 50px 15%;
    font-size: 30px;
    font-family: sans-serif;
  }

ul.share-buttons{
    list-style: none;
    padding: 0;
  }
  
ul.share-buttons li{
    display: inline-block;
    font-size: 60px;
    padding: 3px 5px;
  }
  
ul.share-buttons .sr-only{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 12.75px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
  }
  
#myBtn:hover {
    background-color: #d3b335;
    color: black;
  }

  /* Mozilla based browsers */
::-moz-selection {
       background-color: #f2cc43;
       color: black;
}

/* Works in Safari */
::selection {
       background-color: #f2cc43;
       color: black;
}

.video-con {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}

.video-con iframe,
.video-con object,
.video-con embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.thumbnail {
    max-width: 100%;
  }
  
  .italic { font-style: italic; }
  .small { font-size: 0.8em; }
  
  /** LIGHTBOX MARKUP **/
  
  .lightbox {
      /** Default lightbox to hidden */
      display: none;
  
      /** Position and style */
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100%;
      text-align: center;
      top: 0;
      left: 0;
      background: rgba(0,0,0,0.8);
  }
  
  .lightbox img {
      /** Pad the lightbox image */
      max-width: 90%;
      max-height: 95%;
      margin-top: 2%;
  }
  
  .lightbox:target {
      /** Remove default browser outline */
      outline: none;
  
      /** Unhide lightbox **/
      display: block;
  }